body{
    font-family: 'Poppins', sans-serif;
}
.viewport-full{
    height: 100vh;
}
.sec-padding{
    padding-bottom: 100px;
}
.navbar{
    background-color: transparent;
}
.carousel-indicators li{
    background-color: #CECECE;
    opacity: 1;
    width: 35px;
    height: 4px;
    border-radius: 10px;
    margin-top: 30px;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #ffd019;
}
.buy-now-button{
    background-color: #000000;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
}
.ml_10{
    margin-left: 10px;
    margin-top: 3px;
}
.pro-bg{
    background: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.sm-title{
    margin-bottom: 40px;
}
.sm-title h5{
    font-size: 26px;
    font-size: 600;
}
.sm-title h6{
    color: #FF9D00;
}
.smartphone-section .card{
    border: none;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 5%);
    border-radius: 20px;
}
.smartphone-section .card img{
    padding: 33px;
}
.smartphone-section .card .card-body{
    text-align: center;
}
.smartphone-section .card .card-body p{
    margin-bottom: 40px;
}

.Categories-section h4{
    font-size: 32px;
    font-weight: 600;
}
.Categories-section p{
    width: 130px;
    height: 8px;
    background-image: linear-gradient(to right, #ffc31f,#ff9c35);
    border-radius: 16px;
    margin: 0 auto;
}
.left-title{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    box-shadow: 0px 6px 64px rgba(109, 109, 109, 15%);
    border-radius: 5px 20px 5px 40px;
    background-color: #ffffff;
}
.left-title h6{
    margin-top: 30px;
}
.mb_45{
    margin-bottom: 45px;
}
.d_grid{
    display: grid;
}